body {
    font-family: Arial, sans-serif;
    background-color: #d37f7f;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background: rgb(204, 21, 21);
    margin: 5px 0;
    cursor: pointer;
}